* text=auto

*.py text diff=python
*.md text
*.json text
*.xml text
*.toml text
*.yaml text
*.yml text
*.css text
*.html text
*.svelte text
*.rs text
*.te text
*.fc text
*.sh text
*.desktop text
*.svg text
*.tcss text

*.pyc binary
*.png binary
*.webp binary
*.ico binary
